.container {
  //background-color: #adadad;
}

header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}
.header-mobile {
  @media (min-width: 992px) {
    display: none;
  }
}
.header, .header-mobile {
  background-color: #fff;
  border: 1px solid @grey-light;
  border-top: none;
  .logo {
    margin-top: 8px;
    img {
      margin-left: 15px;
      max-width: 100%;
    }
  }
  .site-header {
    height: 80px;
    position: relative;
  }
  .sh-text {
    height: 80px;
    padding: 30px 20px;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    color: @blue;
  }
  .sh-contacts {
    padding: 30px 15px;
    font-size: 20px;
    height: 80px;
    text-align: center;
    .sh-tel {
      font-size: 21px;
      color: @blue;
      font-weight: 600;
      text-decoration: none;
      &:hover {
        color: @blue-hov;
        text-decoration: none;
      }
    }
  }
  .sh-links ul {
    &:extend(.ul-unstyled);
    position: relative;
    li {
      float: left;
      width: 20%;
      border-left: 1px solid @grey-light;
      text-align: center;
      height: 80px;
      &.dropdown-lang {
        position: relative;
        &:hover {
          .dropdown-langs {
            display: block;
          }
        }
        .dropdown-langs {
          display: none;
          position: absolute;
          width: 100%;
          border: 1px solid @grey-light;
          border-top: none;
          z-index: 99;
          a {
            display: block;
            text-align: center;
            padding: 10px;
          }
        }
      }
      &.search-li {
        .search-form {
          display: none;
          position: absolute;
          width: 80%;
          top: 0;
          left: 2px;
          z-index: 100;
          input {
            border-bottom: 1px solid @grey-light;
            margin: 30px 0 20px 20px;
            padding: 0;
            line-height: 1.7;
            font-weight: 400;
            font-size: 15px;
            width: 90%;
            color: #fff;
          }
        }
      }
      a {
        text-decoration: none;
        font-size: 17px;
        color: @grey-light;
        font-weight: 600;
        &:hover {
          .icon-instagram {
            color: #2d9ecf;
          }
          .icon-facebook {
            color: #4668B3;
          }
          .icon-google-plus {
            color: #DE5745;
          }
        }
        div {
          padding: 30px 10px;
        }
      }
    }
  }
  .site-nav {
    position: relative;
    .main-nav {
      &:extend(.ul-unstyled);
      background-color: @blue;
      height: 54px;
      margin-right: -1px;
      > li {
        float: left;
        &.dropdown-li {
          position: relative;
        }
        &.dropdown-li:hover .dropdown-nav {
          display: block;
        }
        &.dropdown-li:hover > a {
          background-color: @blue-hov;
        }
        > a {
          display: inline-block;
          background-color: @blue;
          color: #ffffff;
          padding: 20px 30px;
          font-weight: 600;
          font-size: 14px;
          text-transform: uppercase;
          text-decoration: none;
          line-height: 1;
          &:hover {
            background-color: @blue-hov;
            text-decoration: none;
          }
        }
        .dropdown-nav {
          display: none;
          position: absolute;
          background-color: @blue-hov;
          padding: 15px 0;
          z-index: 999;
          @media (min-width: 992px) and (max-width: 1199px) {
            width: 938px;
            left: -161px;
          }
          @media (min-width: 1199px) {
            width: 1138px;
            left: -194px;
          }
          ul {
            &:extend(.ul-unstyled);
            li {
              padding: 5px 25px;
              a {
                color: #fff;
                text-decoration: none;
              }
              &:hover {
                background-color: @blue;
              }
            }
          }
        }
      }
    }
    .consult-btn {
      position: absolute;
      top: 0;
      right: -1px;
      background-color: @orange;
      color: #ffffff;
      padding: 20px 30px;
      font-weight: 600;
      font-size: 14px;
      text-transform: none;
      line-height: 1;
      text-decoration: none;
      &:hover {
        background-color: @orange-hov;
        text-decoration: none;
      }
    }
  }
  .consult-form {
    display: none;
    position: absolute;
    background-color: @orange;
    top: 54px;
    right: 0;
    padding: 30px;
    width: 350px;
    z-index: 110;
    h3 {
      margin-top: 0;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      font-weight: 600;
    }
    input {
      color: @grey-light;
    }
    .btn-blue {
      width: 100%;
      margin-top: 20px;
    }
  }
}
.header {
  @media (max-width: 991px) {
    display: none;
  }
  .sh-links ul {
    li {
      &.dropdown-lang {
        .dropdown-langs {
          top: 79px;
          background-color: #fff;
          a {
            &:hover {
              background-color: #edeef5;
            }
          }
        }
      }
      &.search-li {
        .search-form {
          height: 79px;
          background-color: #fff;
        }
      }
    }
  }
}
.header-mobile {
  position: relative;
  border-bottom: 1px solid @grey-light;
  .logo img {
    max-height: 80px;
  }
  .menu-btns {
    margin-top: 20px;
    > a {
      float: right;
      color: #fff;
      padding: 10px 13px;
      display: block;
      font-size: 23px;
      line-height: 1;
      text-decoration: none;
      margin-right: 15px;
    }
    .menu-btn {
      background-color: @blue;
    }
    .menu-tel {
      background-color: @orange;
    }

  }
  .mobile-text {
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    color: #205490;
  }
  .mobile-nav {
    display: none;
    background-color: @blue;
    width: 100%;
    position: absolute;
    top: 60px;
    z-index: 99;
    .mobile-nav-menu {
      &:extend(.ul-unstyled);
      li {
        a {
          list-style: none;
          display: inline-block;
          background-color: @blue;
          color: #ffffff;
          padding: 20px 30px;
          font-weight: 600;
          font-size: 14px;
          text-transform: uppercase;
          text-decoration: none;
          line-height: 1;
          width: 100%;
          &:hover {
            background-color: @blue-hov;
            text-decoration: none;
          }
        }
      }
    }
    .sh-links ul {
      &:extend(.ul-unstyled);
      li {
        height: 70px;
        border: 1px solid #184981;
        a {
          color: #fff;
          div {
            padding-top: 25px;
          }
        }
        &:hover {
          background-color: @blue-hov;
        }
        &.dropdown-lang {
          .dropdown-langs {
            top: 68px;
            width: 100%;
            background-color: @blue;
            a {
              padding: 20px 10px;
              &:hover {
                background-color: @blue-hov;
              }
            }
          }
        }
        &.search-li {
          .search-form {
            height: 68px;
            top: 1px;
            background-color: @blue-hov;
            input {
              background-color: inherit;
              &:-moz-placeholder {
                color: #fff;
              }
              &::-webkit-input-placeholder {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  .consult-form {
    top: 40px;
    right: 14px;
    width: 500px;
    h3 {
      margin-top: 0;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      font-weight: 600;
    }
    input {
      color: @grey-light;
    }
    .btn-blue {
      width: 100%;
      margin-top: 20px;
    }
  }
}

//Slider
.slider {
  margin-top: 135px;
  .wrapper {
    border-top: none;
  }
  .main-slider {
    position: relative;
    .slider-img {
      position: relative;
      max-width: 100%;
      width: 100%;
      img {
        width: 100%;
        max-width: 100%;
        margin-top: -2px;
      }
      .slid-container {
        position: absolute;
        top: 30%;
        margin-left: 100px;
        width: 340px;
        h2 {
          color: @blue;
          font-size: 40px;
          font-weight: 600;
          text-transform: uppercase;
          line-height: 1.1em;
        }
        @media (max-width: 991px) {
          width: 200px;
          top: 10%;
          margin-left: 20px;
          h2 {
            font-size: 26px;
          }
        }
      }
    }
    .owl-prev, .owl-next {
      position: absolute;
      height: 100%;
      width: 8%;
      text-indent:-9999px;
      top: 0;
      font-size: 60px;
      color: @grey-light;
      @media (min-width: 992px) {
        .icon-angle-right, .icon-angle-left {
          text-indent: 0;
          top: 40%;
          position: absolute;
        }
        .icon-angle-right {
          right: 30%;
        }
        .icon-angle-left {
          left: 30%;
        }
      }
    }
    .owl-prev {
      left:0;
    }
    .owl-next {
      right:0;
    }
    .owl-dots {
      position: absolute;
      bottom: 20px;
      width: 100%;
      text-align: center;
      .owl-dot {
        display: inline-block;
        span {
          width: 10px;
          height: 10px;
          margin: 5px 7px;
          background: transparent;
          border: 1px solid @blue;
          display: block;
          transition: opacity .2s ease;
          border-radius: 30px;
        }
        &.active {
          span {
            background: @blue;
          }
        }
      }
    }
  }
}

.in-container {
  margin-top:135px;
}

.ch-block {
  margin-top: 30px;
  h2 {
    border-bottom: 1px solid @grey-light;
    text-align: center;
  }
}

.wrapper {
  border: 1px solid @grey-light;
  background-color: #fff;
  h2 {
    color: @grey;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    padding: 30px 0;
  }
}

//Clients
.slider-clients {
    border-top: 2px solid @orange;
  .client-img {
    float: left;
    max-height: 100px;
    width: 100%;
    position: relative;
    img {
      width: 100%;
      max-width: 100%;
      height: 100px;
    }
    .client-hov {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      padding: 5px 30px;
      background-color: @blue;
      opacity: 0.9;
      display: none;
      p {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
      }
    }
  &:hover {
    .client-hov {
      display: block;
    }
  }
  }
}

//Services
.services {
  &.wrapper {
    border-bottom: none;
  }
  .serv-item {
    height: 120px;
    border-right: 1px solid @grey-light;
    border-bottom: 1px solid @grey-light;
    cursor: pointer;
    text-decoration: none;
    @media (min-width: 1200px) {
      &:nth-child(4n) {
        border-right: none;
      }
    }
    @media (min-width: 992px) and (max-width: 1199px){
      &:nth-child(3n) {
        border-right: none;
      }
    }
    @media (max-width: 991px){
      &:nth-child(2n) {
        border-right: none;
      }
      &:nth-child(9) {
        display: none;
      }
      &:nth-child(10) {
        display: none;
      }
      &:nth-child(11) {
        display: none;
      }
      &:last-child {
        width: 100%;
        height: 75px;
        h3 {
          margin: 0;
          text-align: left;
        }
      }
    }
    .service-icon {
      color: @grey;
      margin: 35px 0 35px 25px;
      float: left;
      min-width: 80px;
      width: 80px;
      &.sprite-9 {
        margin: 50px 0 35px 35px;
      }
      @media (max-width: 767px){
        display: none;
        &.sprite-9 {
          display: block;
          min-width: 60px;
          width: 60px;
          margin-top: 33px;
          margin-left: 35%;
        }
      }
    }
    h3 {
      line-height: 18px;
      font-size: 16px;
      color: @blue;
      padding: 30px 15px 0 0;
      @media (max-width: 767px){
        padding: 30px 30px;
        text-align: center;
      }
    }
    &:hover {
      background-color: #e9eaec;
      z-index: 89;
      .service-icon {
        color: @blue;
      }
    }
  }
}

//Cleaning rooms
.clean_rooms {
  .fon {
    position: relative;
    overflow: hidden;
    @media (min-width: 992px) {
      height: 295px;
      .fon-col {
        background-color: @blue;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.6;
      }
    }
    img {
      object-fit: cover;
    }
    h3 {
      text-transform: uppercase;
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      @media (min-width: 992px) and (max-width: 1199px) {
        width: 190px;
        font-size: 16px;
      }
      @media (min-width: 992px) {
        position: absolute;
        bottom: 0;
        left: 30px;
      }
      @media (min-width: 1200px) {
        width: 250px;
      }
    }
    ul {
      &:extend(.ul-unstyled);
      @media (min-width: 992px) {
        position: absolute;
        bottom: 20px;
        left: 30px;
        display: none;
      }
      .icon-angle-right {
        float: left;
        color: @orange;
        margin-right: 5px;
        margin-top: 5px;
      }
      a {
        color: #fff;
        text-transform: none;
      }
    }

    @media (min-width: 992px) {
      &:hover {
        .fon-col {
          opacity: 1;
        }
        h3 {
          top: 10px;
        }
        ul {
          display: block;
        }
      }
    }
  @media (min-width: 992px) {
    .icon-chevron-up, .icon-chevron-down {
      display: none;
    }
  }
  @media (max-width: 991px) {
    background-color: @blue;
    border-bottom: 1px solid #174376;
    img {
      display: none;
    }
    h3 {
      margin: 0;
      padding: 15px;
      float: left;
    }
    .icon-chevron-up, .icon-chevron-down {
      float: right;
      color: #3b78bf;
      font-size: 24px;
      margin: 15px;
    }
    .icon-chevron-up {
      display: none;
    }
    ul {
      display: none;
      transition: all .2s ease;
      li {
        padding: 10px 30px;
        .icon-angle-right {
          display: none;
        }
      }
    }
    &:hover {
      background-color: #174376;
    }
  }
  }
}

//Valuation
.valuation {
  margin-top: 30px;
  background: url("../../assets/img/form-fon.png");
  color: #fff;
  padding: 30px;
  position: relative;
  .fon {
    position: absolute;
    right: 0;
  }
  h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 1px 1px 2px @grey;
    @media (max-width: 767px){
      font-size: 20px;
    }
  }
  .valuation-items {
    width: 100%;
    height: 50px;
    @media (max-width: 767px){
      height: 90px;
    }
    ul {
      margin-left: 0;
      li {
        @media (min-width: 767px){
          margin-left: 30px;
          float: left;
          &:first-child {
            margin-left: -23px;
          }
        }
      }
    }
  }
  .btn-blue {
    padding: 11px 30px;
    margin-left: -5px;
    @media (max-width: 767px){
      margin: 15px 0 0 0;
      padding: 15px 30px;
      width: 100%;
    }
  }
  input {
    width: 370px;
    color: #000;
    @media (max-width: 767px){
      width: 100%;
      padding: 15px 10px;
    }
  }
}


//About
.about {
  padding: 30px;
  h3 {
    color: @blue;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 0;
  }
  .about-text {
    margin-bottom: 25px;
  }
  .second-col {
    margin-top: 20px;
    ul {
      &:extend(.ul-unstyled);
      li{
        margin-bottom: 20px;
        div {
          float: left;
          color: @orange;
          margin-right: 20px;
          margin-top: 7px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .btn-blue {
      display: none;
    }
  }
}
.ch-gallery {
  margin-top: 0;
  .wrapper {
    border-top: none;
    #links > a {
      cursor: pointer;
      position: relative;
      height: 200px;
      .gall-img {
        width: 100%;
        max-width: 100%;
        height: 200px;
      }
      .gall-hov {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: @blue;
        opacity: 0.6;
        .chevrons {
          width: 26px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 80px;
        }
      }
      &:hover {
        .gall-hov {
          display: block;
        }
      }
    }
    .gall-btn {
      text-align: center;
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
  .row > a {
    @media (max-width: 991px) {
      &:nth-child(8) {
        display: none;
      }
      &:nth-child(7) {
        display: none;
      }
    }
  }
}

//News
.ch-news {
  margin-top: 30px;
  .news-item {
    display: block;
    background-color: #fff;
    text-decoration: none;
    position: relative;
    margin-bottom: 30px;
    &:before {
      content: '';
      position: absolute;
      height: 30px;
      bottom: 0;
      z-index: 2;
      width: 100%;
      left: 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.8) 70%, white 100%);
    }
    .news-img {
      position: relative;
      overflow: hidden;
      img {
        height: 100%;
        min-width: 100%;
        max-height: 188px;
      }
    }
    .news-fon {
      position: absolute;
      background-color: @orange-hov;
      opacity: 0.6;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: none;
    }
    p {
      margin: 0;
      padding: 20px;
      color: #000;
      font-size: 14px;
      line-height: 22px;
      height: 160px;
      overflow: hidden;
    }
  &:hover {
    p {
      color: @blue-hov;
    }
    .news-fon {
      display: block;
    }
  }
  @media (max-width: 1199px) {
    margin-bottom: 30px;
  }
  }
  .news-btn {
    text-align: center;
    margin-bottom: 35px;
  }
  @media (max-width: 1199px) {
    .row > div:nth-child(4) {
      display: none;
    }
  }
  @media (max-width: 991px) {
    .row > div:nth-child(3) {
      display: none;
    }
  }
}

//Contacts
.contacts {
  background-color: @grey;
  color: #fff;
  padding: 40px;
  h3 {
    margin-top: 0;
    text-transform: uppercase;
  }
  .frm-name {
    margin-bottom: 30px;
  }
  textarea {
    height: 103px;
    margin-bottom: 20px;
  }
  button {
    float: right;
  }
  input, textarea {
    background-color: #6d767b;
    color: #fff;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #fff;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #fff;
  }
  @media (max-width: 991px) {
    .ctc-info {
      margin-bottom: 20px;
    }
    button {
      width: 100%;
      padding: 15px 30px;
    }
    input:nth-child(2) {
      margin-bottom: 30px;
    }
  }
}
.copyright {
  padding: 20px 10px 30px 2px;
  color: #9bb6c5;
}




//Inner page
//Breadcrumbs
.breadcrumbs {
  &:extend(.ul-unstyled);
  margin-top: 20px;
  li {
    float: left;
    font-size: 13px;
    color: #93a8b1;
    a {
      font-size: 13px;
      color: #93a8b1;
      text-decoration: none;
      &:hover {
        color: @grey;
      }
    }
    span {
      padding: 0 5px;
    }
  }
}
.text-container {
  padding: 30px 30px 50px 30px;
  font-size: 15px;
  line-height: 1.1em;
  color: @grey;
}
.ch-inner {
  &.ch-block {
    margin-top: 20px;
  }
  .wrapper{
    margin-bottom: 20px;
    @media (min-width: 992px) {
      .fon {
        height: 220px;
      }
    }
    .text-footer {
      border-top: 1px solid @grey-light;
      padding: 30px;
      .b-price {
        float: left;
        font-size: 16px;
        color: @grey;
        .sum {
          font-size: 18px;
          color: @blue;
          font-weight: 600;
        }
      }
      .btn-blue {
        float: right;
        margin: 0;
      }
      .btn-services {
        @media (min-width: 992px) {
          display: none;
        }
        width: 100%;
        margin-top: 20px;
        padding: 15px;
        text-align: center;
        border: 1px solid #cfdfe6;
        background-color: #b6cdd7;
        color: #495359;
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        i {
          margin-right: 10px;
        }
      }
    }
  }
  .valuation {
    background-image: url("../../assets/img/valuation-fon.png");
    background-size: cover;
    margin-bottom: 20px;
    margin-top: 20px;
    h2 {
      font-size: 20px;
      text-align: left;
      border-bottom: none;
    }
    .valuation-items {
      @media (min-width: 992px) {
        height: 90px;
        ul {
          li {
            margin-left: -23px;
          }
        }
      }
    }
    .btn-blue {
      margin: 15px 0 0 0;
      padding: 10px 30px;
      width: 100%;
    }
    input {
      width: 100%;
      padding: 10px 10px;
    }
  }
  .help {
    background-color: #fff;
    border: 1px solid @grey-light;
    padding: 25px;
    h3 {
      text-align: center;
      font-size: 18px;
      text-transform: uppercase;
      margin-top: 0;
    }
    img {
      object-fit: cover;
      width: 77px;
      height: 77px;
      float: left;
      margin-bottom: 10px;
      -webkit-border-radius: 77px;
      -moz-border-radius: 77px;
      border-radius: 77px;
    }
    .help-pers {
      float: left;
      padding: 15px 20px;
      font-size: 20px;
      color: @orange;
      font-weight: 600;
      @media (max-width: 1199px) and (min-width: 992px) {
        padding: 15px 2px;
      }
    }
    .help-tel {
      font-size: 18px;
      line-height: 1.8em;
      color: @blue;
      font-weight: 600;
      text-decoration: none;
      @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 16px;
      }
    }
    .btn-orange {
      margin-top: 20px;
      padding: 10px 15px;
      width: 100%;
      text-align: left;
      @media (min-width: 992px) and (max-width: 1199px) {
        text-align: center;
      }
      i {
        font-size: 14px;
        margin-right: 5px;
      }
    }
  }
}

//Mobile menu services
.mob-services {
  display: none;
  background-color: @orange;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y:scroll;
  z-index: 99;
  h3 {
    float: left;
    text-transform: uppercase;
    padding-left: 20px;
    font-size: 24px;
    font-weight: 600;
  }
  .icon-close {
    float: right;
    margin: 15px;
    font-size: 24px;
  }
  ul {
    &:extend(.ul-unstyled);
    margin-left: 20px;
    li {
      a {
        color: #fff;
        font-size: 17px;
        font-weight: 400;
        line-height: 46px;
        text-decoration: none;
      }
    }
  }
}

//Order form
.order-form {
  display: none;
  position: fixed;
  top: 30%;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 370px;
  z-index: 150;
  background-color: @blue;
  padding: 30px;
  border: 1px solid @orange;
  h3 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
  }
  button {
    width: 100%;
  }
  input {
    color: @grey-light;
    margin-bottom: 15px;
  }
  p {
    padding: 15px 30px 0 30px;
    color: #fff;
    text-align: center;
    margin: 0;
  }
  .icon-close {
    position: absolute;
    top: -20px;
    right: -20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer
  }
}
.modal-bg {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  position: fixed;
  left: 0;
  opacity: 0;
  right: 0;
  top: 0;
  z-index: -1;
}