//adding fonts

//Ubuntu Bold
@font-face {
  .add-font('UbuntuBold/Ubuntu-Bold', 'Ubuntu', '600');
}

//Ubuntu Light
@font-face {
  .add-font('UbuntuLight/Ubuntu-Light', 'Ubuntu', '300');
}

//Ubuntu Medium
@font-face {
  .add-font('UbuntuMedium/Ubuntu-Medium', 'Ubuntu', '500');
}

//Ubuntu Regular
@font-face {
  .add-font('UbuntuRegular/Ubuntu-Regular', 'Ubuntu', '400');
}

//Icons
@font-face {
  .add-font('icons/icons', 'icons')
}