.sprite-3, .sprite-33, .sprite-7, .sprite-77, .sprite-8,
.sprite-88, .sprite-2, .sprite-22, .sprite-1, .sprite-11,
.sprite-5, .sprite-55, .sprite-6, .sprite-66, .sprite-4,
.sprite-44, .sprite-9, .sprite-99
{ display: inline-block; background: url('../img/spritesheet.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }


.sprite-3 { background-position: -3px -0px; width: 78px; height: 56px; }
.sprite-7 { background-position: -3px -118px; width: 72px; height: 51px; }
.sprite-8 { background-position: -3px -226px; width: 69px; height: 50px; }
.sprite-2 { background-position: -3px -332px; width: 66px; height: 56px; }
.sprite-1 { background-position: -3px -450px; width: 61px; height: 53px; }
.sprite-5 { background-position: -3px -562px; width: 59px; height: 58px; }
.sprite-6 { background-position: -3px -684px; width: 59px; height: 55px; }
.sprite-4 { background-position: -3px -800px; width: 54px; height: 57px; }
.sprite-9 { background-position: -3px -920px; width: 37px; height: 11px; }

.serv-item:hover {
  .sprite-3 { background-position: -3px -59px; width: 78px; height: 56px; }
  .sprite-7 { background-position: -3px -172px; width: 72px; height: 51px; }
  .sprite-8 { background-position: -3px -279px; width: 69px; height: 50px; }
  .sprite-2 { background-position: -3px -391px; width: 66px; height: 56px; }
  .sprite-1 { background-position: -3px -506px; width: 61px; height: 53px; }
  .sprite-5 { background-position: -3px -623px; width: 59px; height: 58px; }
  .sprite-6 { background-position: -3px -742px; width: 59px; height: 55px; }
  .sprite-4 { background-position: -3px -860px; width: 54px; height: 57px; }
  .sprite-9 { background-position: -3px -934px; width: 37px; height: 11px; }
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
}
.icon-plus:before {
  content: "\f067";
}
.icon-search:before {
  content: "\f002";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-phone:before {
  content: "\f095";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
