//forms, buttons, dialogs etc.
.btn-orange {
  color: #fff;
  background-color: @orange;
  padding: 10px 30px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  line-height: 1;
  &:hover {
    background-color: @orange-hov;
    text-decoration: none;
    color: #fff;
  }
}
.btn-blue {
  color: #fff;
  background-color: @blue;
  padding: 10px 30px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  line-height: 1;
  &:hover {
    background-color: @blue-hov;
    text-decoration: none;
    color: #fff;
  }
  @media (max-width: 767px) {
    display: block;
    padding: 15px 30px;
    margin: 0 15px;
  }
}

*:focus {
  outline: none;
}

input, textarea {
  border: none;
  padding: 10px;
  width: 100%;
  line-height: 1;
  resize: none;
}
