//URL relative to the style.css
@font-folder:'../fonts/';
@img-folder: '../img/';
  
@pie-url:@pie-htc-url;
@pie-htc-url:url(assets/ie8-support/PIE.htc); //url must be absolute or relative to the html document!
@bg-size-cover:url(assets/ie8-support/backgroundsize.min.htc); //url must be absolute or relative to the html document!
// read more:
//  * https://github.com/louisremi/background-size-polyfill
//  * http://css3pie.com
  
//COLORS
@orange: #f28020;
@orange-hov: #ffac5e;
@blue: #205490;
@blue-hov: #3977bf;
@grey: #495359;
@grey-light: #b0c5ce;